* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d87d4a;
  --black-color: #101010;
  --gray-color: #f1f1f1;
  --light-gray-color: #fafafa;

  --primary-hover-color: #fbaf85;
  --pure-white: #ffffff;
  --pure-black: #000000;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.09375rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.071875rem;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5rem;
  line-height: 2.0625rem;
  letter-spacing: 0.10625rem;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.08125rem;
  font-weight: 700;
  text-transform: uppercase;
}

header {
  background-color: #0e0e0e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.373);
}

a {
  text-decoration: none;
  color: var(--pure-white);
}

nav > * {
  flex: 1 0 33%;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  gap: 2rem;
}

.nav-items > ul > li {
  flex: 1 0 25%;
}

.cart-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.hero-section {
  background-color: #0e0e0e;
}

.hero-section .product-description {
  padding: 8.125rem 0 10rem 0;
  color: var(--pure-white);
}

.hero-section .product-description .btn-see {
  padding: 0.9375em 1.9375em;
  font: inherit;
  color: var(--pure-white);
  background-color: var(--primary-color);
  border: none;
}

.hero-section .product-description .btn-see:hover {
  background-color: var(--primary-hover-color);
}

.hero-section .product-description > p:first-of-type {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  letter-spacing: 0.625rem;
  color: #ffffff9b;
  padding-bottom: 1.5rem;
  margin: 0;
}

.hero-section .product-description > p:last-of-type {
  padding: 1.5rem 0;
  margin: 0;
}

.backgroung-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
